﻿@model BookShop.ViewModels.User.RegisterView

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Email">Enter Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Age">Enter Age</label><br />
            <input type="text" asp-for="Age" />
        </div>
        <div>
            <label asp-for="FirstName">Enter first name</label><br />
            <input type="text" asp-for="FirstName" />
        </div>
        <div>
            <label asp-for="Email">Enter Email</label><br />
            <input type="text" asp-for="Email" />
        </div>
        <div>
            <label asp-for="LastName">Enter last name</label><br />
            <input type="text" asp-for="LastName" />
        </div>
        <div>
            <label asp-for="Password">Enter Password</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <input type="submit" value="Registration" />
        </div>
    </div>
</form>

